@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --color-main: #5a0000;
  --color-sub: #650008;
  --color-body: #f4f3f4;
  --font-heading1: #ffffff;
  --font-heading2: #000000;
  --font-heading3: #650008;
  --font-family1: "Poppins", sans-serif;
  --font-family2: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* login screen */
.loginbg {
  z-index: -1;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  bottom: 0; /* Align to the bottom */
  left: 50%; /* Align to the center horizontally */
  transform: translateX(-50%); /* Adjust for center alignment */
}

.black-film {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Black film with 0.7 opacity */
  z-index: 0;
}

.login-frame h1,
.login-frame label,
.login-frame h2 {
  color: black;
}

.login-frame h3 {
  color: var(--font-heading3);
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: var(--font-family1);
}

.login-frame input {
  border-radius: 5px;
  width: 99%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #808080; /* Border color */
}

.login-frame input:focus {
  outline: 1px solid #000000; /* Border color */
}

.login-frame input[type="submit"] {
  background-color: var(--font-heading3);
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.login-frame input[type="submit"]:hover {
  background-color: var(--font-heading3);
  opacity: 0.9;
}

.login-frame input::placeholder {
  color: #808080; /* Placeholder text color */
  font-family: var(--font-family1);
}

.login-frame {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  z-index: 2;
  position: relative; /* Ensure stacking context */
}

.login-frame a {
  text-decoration: none;
  color: var(--color-main);
  font-family: var(--font-family1);
  font-weight: 500;
  font-size: 13px;
}

.login-frame a:hover {
  text-decoration: underline;
}

.logoswu {
  height: 60%;
}

.login {
  z-index: 3;
  padding-top: 10%;
  position: relative; /* Ensure stacking context */
}

.loginpage span {
  position: absolute;
  margin-bottom: 10px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 12px;
  font-weight: light;
  font-family: var(--font-family1);
}

/* admin dashboard */

header {
  width: 100vw;
  max-height: 60px;
  height: 100vh;
  background-color: var(--color-sub);
  color: white;
}

header p,
header h2 {
  margin: 0;
  padding: 5px 0;
}

header .container {
  height: 60px;
}

.header-container {
  height: inherit;
}

.welcome-text .la-user-circle {
  font-size: 45px; /* Adjust the size as needed */
}

.welcome-text p {
  font-family: var(--font-family2);
  font-weight: 400;
  font-size: 13px;
}

nav {
  position: absolute;
  height: 100vh;
  background-color: var(--color-sub);
  width: 15vw; /* Adjusted width */
  transition: width 0.3s ease-in-out;
  top: 0;
}

nav h2 {
  color: white;
  padding: 10px;
}

.small-width {
  width: 5%;
}

.small-main {
  margin-left: 0;
}

.expanded-main {
  margin-left: 15vw;
}

.expanded-main,
.small-main {
  transition: width 0.3s ease-in-out;
}
